.DS_Store
#node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test

/.settings
/bak
/ovit-test
.settings
.project
.apt_generated
.classpath
.factorypath
target
build
.git
.svn
bak
ovit-test
.project
build
dist
node_modules
.idea
target
target/
*.versionsBackup
workspace
